wheel
tabulate
torch
torchaudio
torchvision
scipy
scikit-learn
PennyLane==0.42.3
PennyLane_Lightning==0.42
PennyLane_Lightning_GPU==0.42
pennylane-lightning-tensor==0.42
custatevec_cu12
ucimlrepo 
pydantic
psutil
pandas
joblib
gputil
quimb
ipykernel